# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
__pycache__/
/starter-components/
/logs/
device.yaml
device_live.yaml
device_static.yaml
